{% extends "payment/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Basket</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
{% block content %}
    {% if user %}
        <a href="{% url "basket" %}">Basket</a>
    {% endif %}
    <table class="table invoice-table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Tittle</th>
            <th scope="col">Price</th>
            <th scope="col">Currency</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}

            <tr>
                <td>{{ product.id }}</td>
                <th scope="row">{{ product.product_name }}</th>
                <td>{{ product.get_display_price }}</td>
                <td>{{ product.currency }}</td>
                <td>
                    <form action="" method="post">
                        {% csrf_token %}
                        <button name="delete" value="{{ product.id }}">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>Total: {{ order.get_display_price }}{{ order.currency }}</h2>

    {% if flag != True %}
        <p>Please, remove items different currency than others</p>
    {% else %}
        <button type="button" id="checkout">Buy</button>
        {% csrf_token %}
        <script type="text/javascript">
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            let stripe = Stripe("{{ PUBLIC_API_KEY }}");
            let checkoutButton = document.getElementById("checkout");
            checkoutButton.addEventListener("click", function () {
                fetch("{% url 'create-checkout-session-order' order.id %}", {
                    method: "POST",
                    headers: {
                        'X-CSRFToken': csrftoken
                    }
                })
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (session) {
                        return stripe.redirectToCheckout({sessionId: session.id});
                    })
                    .then(function (result) {
                        if (result.error) {
                            alert(result.error.message);
                        }
                    })
                    .catch(function (error) {
                        console.error("Error:", error);
                    });
            });
        </script>
    {% endif %}

{% endblock %}
</body>
</html>